body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clickable {
  cursor: pointer;
}

/* for uppercasing the input values */
input {
  text-transform: uppercase;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  text-transform: none;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  text-transform: none;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  text-transform: none;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  text-transform: none;
}
::placeholder {
  /* Recent browsers */
  text-transform: none;
}

/* middle store icon/aisle column*/
.middle-column {
  display: flex;
  align-items: center;
  height: 100%;
}

.middle-column svg {
  margin: 0 auto;
  display: block;
}

/* for the two icons in the navbar */
.ml {
  margin-left: auto;
}

.ml-3 {
  margin-left: 0.75em;
}

.store-panels {
  margin: 0px 50px;
}

.store-panel-header-item {
  vertical-align: middle;
}

.column.store-panel > .panel {
  height: 100%;
}

.store-panel-icons {
  margin-left: auto;
}

.store-panel-icons svg {
  margin-left: 20px;
}

.no-margin {
  margin: 0px !important;
}
